.App {
  font-family: sans-serif;
  text-align: center;
  background-image: linear-gradient(to left, #000000,rgb(51,86,86),rgb(51,86,86),black);
  height: 100%;
  width: 100%;
  padding-bottom: 5rem;
  justify-content: center;
  align-items: center;
  display: flex;

}

header {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 2rem;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  background-color: white;
  height: 23px;
  width: 138%;
  border-bottom: 0.5px solid gray;
  border-image: linear-gradient(to right, white, gray, gray, white);
  border-image-slice: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.container-center {
  margin: auto;
  margin-bottom: 2em;
  max-width: 240px;
  height: 100%;
}
input[type="text"] {
  width: 124.7%;
  height: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, white, gray, white);
  border-image-slice: 1;
  height: 160px;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-size: 2rem;
}

.keypad {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #faf9f6;
  margin-bottom: 3em;
  width: 138%;
  height: 130%;
}

button:hover {
  cursor: pointer;
}

.button-number {
  background-color: white;
}

.button-white {
  padding: 1.3rem;
  border: none;
  margin: 0.1em 0em 0.1em 1em;
  width: 88%;
  height: 70.5px;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3)
}

.button-red {
  padding: 1.3rem;
  border: none;
  margin: 0.1em 0em 0.1em 0.9em;
  margin-bottom: 2rem;
  width: 88%;
  height: 70.5px;
  color: white;
  background-image: linear-gradient(to bottom, #e74c3c, #800000, #dc143c);
  font-size: 1.2em;
  font-weight: bolder;
  border-radius: 25px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3)
}

.button-black {
  padding: 1.3rem;
  border: none;
  font-size: 1.1em;
  margin: 0.1em 0em 0.1em 0.9em;
  width: 88%;
  height: 70.5px;
  color: #ff3e39;
  font-weight: bolder;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #000000, #2d3436);
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.3);

}

#span {
  color: aquamarine;
}

#star {
  font-size: 5em;
  color: yellowgreen;
}

.icon {
  height: 20px;
  width: 29px;
  color: crimson;


}

.gradient {
  background-image: linear-gradient(200deg, #e74c3c, #800000, #dc143c);
  background-clip: text;
  color: transparent;
  font-size: 1.3em;
  font-weight: bold;
  width:11px;
}

.button-white:active {
  background: lightgray;
}

.button-black:active {
  background: darkcyan;
}

.button-red:active {
  background: tomato;
}